MyFram.Core/_ReSharper.MyFram.Core/
MyFram.Core/packages/
MyFram.Core/MyFram.Core/Util/Config.cs
MyFram.Core/MyFram.Core/bin/Debug/
MyFram.Core/MyFram.Core/obj/Debug/
MyFram.Core/MyFram.Core.Test/bin/Debug/
MyFram.Core/MyFram.Core.Test/obj/Debug/
